<!doctype html>
<html>
<head>
	<title>flask-{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='default.css') }}">
	{% block links %}{% endblock %}
</head>
<body>
	<nav>
		<ul>
			{% if g.user %}
				<li><span>{{ g.user.get('username') }}</span></li>
				<li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
			{% else %}
				<li><a href="{{ url_for('auth.login') }}">Login</a></li>
				<li><a href="{{ url_for('auth.register') }}">Register</a></li>
			{% endif %}
		</ul>
	</nav>
	<section class="content">
		<header>
			{% block header %}{% endblock %}
		</header>
		{% for msg in get_flashed_messages() %}
			<div class="flashed-msg">{{ msg }}</div>
		{% endfor %}
		{% block content %}{% endblock %}
	</section>
</body>